# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
venv/
ENV/
env/
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
*.mo
*.pot
media/
staticfiles/
db.sqlite3
# If you are using Django's default file-based cache
*.cache

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Environments
.env
*.env
# If you have multiple environment files
*.local.env
*.production.env
*.development.env
# pipenv
Pipfile.lock

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Pyre type checker
.pyre/

# Celery
celerybeat-schedule
celerybeat.pid

# Flask
instance/
.webassets-cache

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
django_secret_key.txt

# Other stuff:
!.gitignore
